* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202c39;
  text-align: center;
}

.game {
    margin-top: 1.7rem;
  height: 36rem;
  width: 36rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    height: 11rem;
    width: 11rem;
    border-radius: .75rem;
    border: 0;
    box-shadow:  0.5rem 0.5rem 0.5rem 0.01rem #283845;
    background-color: #B8B08D;
    color: #283845;
    font-size: 9rem;
}

.reset {
    height: 3rem;
    width: 10rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
    background-color: #F29559;
    font-size: 1rem;
}